
@use "sass:math";
@use "sass:meta";
@use "variables" as *;

// Reset styles
@use "node_modules/bootstrap/scss/bootstrap-reboot";

// Bootstrap grid
@use "node_modules/bootstrap/scss/bootstrap-grid";

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg); }
    100% {
        transform: rotate(360deg); }
}

/* Remove Chrome's input focus border */
:focus {
    outline: none !important;
}

::placeholder {
    color: $COLOR_GREY_LIGHT;
}

:root {
    --mashroom-portal-font-icon: #{meta.inspect($FONT_ICON)};
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: $COLOR_BLACK;
    font-family: $FONT_DEFAULT;
}

h1, h2, h3 {
    font-family: $FONT_HEADER;
}

h4 {
    font-size: 1.2rem;
}

a, a:visited, a:focus {
    color: $COLOR_PRIMARY;
    text-decoration: underline;
    @include hover-animation();

    &:hover {
        color: $COLOR_PRIMARY_LIGHT;
    }

    &:active {
        color: $COLOR_PRIMARY_LIGHT;
    }
}

button, input[type="submit"] {
    background-color: $COLOR_PRIMARY;
    color: white;
    border-radius: 0;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    outline: none !important;
    @include hover-animation();

    &:hover {
        background-color: $COLOR_PRIMARY_LIGHT;
    }

    &:active {
        background-color: $COLOR_PRIMARY_LIGHT;
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: $COLOR_GREY;

        &:hover, &:active {
            background-color: $COLOR_GREY;
        }
    }
}

.mashroom-portal-checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        cursor: pointer;
        position: relative;
        padding-left: 22px;

        &:before {
            position: absolute;
            left: 2px;
            top: 1px;
            font-family: $FONT_ICON;
            font-size: 1em;
            content: "\f0c8";
            color: $COLOR_PRIMARY;
            @include focus-animation();
        }
    }

    &:checked + label:before {
        content: "\f14a";
    }

    &:focus + label {
        &:before {
            color: $COLOR_SECONDARY !important;
        }
    }

    &[disabled] + label {
        cursor: not-allowed;
        color: $COLOR_GREY;

        &:before {
            color: $COLOR_GREY !important;
        }
    }
}

.mashroom-portal-radio {
    position: absolute;
    opacity: 0;

    & + label {
        cursor: pointer;
        position: relative;
        padding-left: 22px;

        &:before {
            position: absolute;
            left: 1px;
            top: 1px;
            font-family: $FONT_ICON;
            font-size: 1em;
            content: "\f111";
            color: $COLOR_PRIMARY;
            @include focus-animation();
        }
    }

    &:checked + label:before {
       content: "\f192";
    }

    &:focus + label {
        &:before {
            color: $COLOR_SECONDARY;
        }
    }

    &[disabled] + label {
        cursor: not-allowed;
        color: $COLOR_GREY;

        &:before {
            color: $COLOR_GREY !important;
        }
    }
}

input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="search"], textarea {
    padding: 6px 11px;
    border: 1px solid $COLOR_PRIMARY;
    width: 100%;
    @include focus-animation();

    &:focus {
        padding: 5px 10px;
        border: 2px solid $COLOR_SECONDARY;
    }

    &:invalid {
        padding: 5px 10px;
        border: 2px solid $COLOR_ERROR;
    }

    &:disabled {
        cursor: not-allowed;
        color: $COLOR_GREY !important;
        border-color: $COLOR_GREY;
    }
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;

    width: 100%;
    height: 34px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid $COLOR_PRIMARY;
    border-radius: 0;
    @include focus-animation();

    option {
        background-color: white;
    }

    &:focus {
        border: 2px solid $COLOR_SECONDARY;

        &::-ms-value {
            background-color: transparent;
        }
    }

    &:invalid {
        border: 2px solid $COLOR_ERROR;
    }

    &::-ms-expand {
        display: none;
    }

    &:disabled {
        cursor: not-allowed;
        color: $COLOR_GREY !important;
        border-color: $COLOR_GREY;
    }
}

label {
    margin: 0;
}

table {
    width: 100%;
    border: 1px solid $COLOR_PRIMARY;

    tr {
        border-bottom: 1px solid $COLOR_PRIMARY;

        &:nth-child(odd) {
            background-color: $COLOR_PRIMARY_EXTRA_LIGHT;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    th {
        text-align: left;
        padding: 5px 10px;
        background-color: $COLOR_PRIMARY;
        color: white;
        border-right: 1px solid white;

        &:last-child {
            border-right: none;
        }
    }

    td {
        padding: 4px 10px;
        border-right: 1px solid $COLOR_PRIMARY;

        &:last-child {
            border-right: none;
        }
    }
}

header {
    background-color: $COLOR_PRIMARY;
    color: white;
    border-bottom: 2px solid $COLOR_SECONDARY;
    position: relative;

    .logo {
        display: none;

        svg {
            display: inline-block;
            width: 40px;
            height: 30px;
            margin-left: 20px;
        }
    }

    .site-name {
        h1 {
           display: inline-block;
           padding: 16px $GUTTER_WIDTH 0 $GUTTER_WIDTH;
           font-size: 1.4em;
            font-weight: 400;
        }
    }

    .env-and-versions {
        font-size: 0.8em;
        line-height: 1.2em;
        margin-left: $GUTTER_WIDTH;
        padding: 10px 0;

        a, a:hover, a:active {
            color: white;
        }
    }

    .user {
        padding: 0 20px 10px 20px;
        margin-left: $GUTTER_WIDTH;
        display: flex;
        align-items: center;
        position: relative;

        &:before {
            position: absolute;
            display: inline-block;
            font-family: $FONT_ICON;
            font-weight: 900;
            content: "\f007";
            color: $COLOR_WHITE;
            left: 0;
        }

        .logout {
            padding-left: 10px;

            a {
                display: block;
                color: $COLOR_WHITE;
                font-size: 0.8em;
            }
        }
    }

    .menu-open {
        cursor: pointer;
        position: absolute;
        bottom: 5px;
        right: 10px;
        padding: 2px 5px;

        &:before {
            content: '\f142';
            font-family: $FONT_ICON;
            font-size: 1.2em;
            font-weight: 900;
        }
    }
}

.mashroom-portal-app-wrapper {
    margin-bottom: $GUTTER_WIDTH;
    box-shadow: 0 0 1px $COLOR_PRIMARY;

    .mashroom-portal-app-host {
        min-height: 20px;
    }

    .mashroom-portal-app-loading {
        padding: 5px;

        &:before {
            display: block;
            width: 100%;
            text-align: center;
            font-family: $FONT_ICON;
            font-weight: 900;
            content: "\f110";
            color: $COLOR_PRIMARY;
            font-size: 24px;
            -webkit-animation: spin 1s infinite steps(8);
            animation: spin 1s infinite steps(8);
        }
    }

    .mashroom-portal-app-loading-error {
        color: $COLOR_ERROR;
        padding: 10px;
    }

    .mashroom-portal-app-header {
        display: flex;
        align-items: center;
        background-color: $COLOR_PRIMARY;
        color: white;

        .mashroom-portal-app-header-title {
            flex-grow: 2;
            padding: 5px 10px;
            font-size: 0.9em;
            font-weight: 500;
        }

        .mashroom-portal-app-header-close {
            cursor: pointer;

            &:before  {
                content: '\f00d';
                font-family: $FONT_ICON;
                font-weight: 900;
                padding-right: 10px;
            }
        }
    }

    &.no-border {
        box-shadow: none;
    }

    &.no-margin {
        margin-bottom: 0;
    }

    &.show-header {

    }

    &.hide-header {
        .mashroom-portal-app-header {
            display: none;
        }
    }

    .mashroom-portal-app-info {
        left: 0;
        top: 0;
        background-color: lightyellow;
        border: 2px solid yellow;
        font-size: 0.7em;
        font-weight: bold;
        line-height: 1.2em;
        padding: 2px 4px;
        opacity: 0.9;
        z-index: 20000;
    }
}

main {
    margin: 20px 0;

    nav {
        display: none;
        white-space: nowrap;
        min-width: 220px;
        margin-bottom: $GUTTER_WIDTH;
        margin-top: -15px;

        &.show {
            display: block;
        }

        .nav {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .nav .nav {
            .nav-item .nav-link {
                padding-left: 30px;
            }
        }

        .nav .nav .nav {
            .nav-item .nav-link {
                padding-left: 40px;
            }
        }

        .nav .nav .nav .nav {
            .nav-item .nav-link {
                padding-left: 50px;
            }
        }

        .nav-item {
            display: block;

            .nav-link {
                display: block;
                padding: 5px 20px;
                margin-bottom: 2px;
                color: $COLOR_BLACK;
                text-decoration: none;
                background-color: $COLOR_PRIMARY_EXTRA_LIGHT;
                @include hover-animation();

                &:hover {
                    color: $COLOR_WHITE;
                    background-color: $COLOR_PRIMARY_LIGHT;
                }

                &.active {
                    cursor: default;
                    font-weight: bold;
                    position: relative;

                    &:before {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 3px;
                        height: 100%;
                        content: ' ';
                        display: block;
                        background-color: $COLOR_PRIMARY;
                    }

                    &:hover {
                        color: $COLOR_BLACK;
                        background-color: $COLOR_PRIMARY_EXTRA_LIGHT;
                    }
                }
            }
        }
    }
}

footer {
    border-top: 1px solid $COLOR_PRIMARY;
    color: $COLOR_PRIMARY;
    padding-top: 10px;
    font-size: 0.8em;

    .powered-by {
        text-align: center;
    }

    .copyright {
        text-align: center;
    }

}

.mashroom-portal-apps-container {

}

.mashroom-portal-ui-error-message {
    color: $COLOR_ERROR;
}

.mashroom-portal-autocomplete-field {
    .suggestions-container-open {
        background-color: $COLOR_WHITE;

        li:nth-child(even) {

        }
    }
}

.mashroom-portal-ui-modal {
    .mashroom-portal-ui-modal-header {
        background-color: $COLOR_PRIMARY;

        .title {
            font-family: $FONT_HEADER;
        }
    }
}

.mashroom-portal-ui-tab-dialog {
    .tab-dialog-header {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $COLOR_PRIMARY;

        .tab-dialog-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $COLOR_WHITE;
            background-color: $COLOR_GREY;
            margin-left: 2px;
            margin-top: 2px;
            margin-bottom: 2px;
            @include hover-animation();

            &:hover {
                background-color: $COLOR_GREY_LIGHT;
            }

            &.active {
                background-color: $COLOR_PRIMARY;
                margin-top: 1px;
                margin-bottom: 0;
                cursor: default;
            }

            .title {
                padding: 4px 15px;
                font-size: 0.9em;
                font-weight: 500;
            }

            .close-button {
                cursor: pointer;

                &:after {
                    content: '\f00d';
                    font-family: $FONT_ICON;
                    font-weight: 900;
                    padding: 2px 15px;
                }
            }
        }
    }
}

.mashroom-portal-ui-source-code-editor-field {
    .react-codemirror2 {
        height: 100%;
    }

    .CodeMirror {
        border: 1px solid $COLOR_PRIMARY;
        padding: 1px;
        @include focus-animation();

        &.CodeMirror-focused {
            padding: 0;
            border: 2px solid $COLOR_SECONDARY;
        }
    }
}

#mashroom-portal-modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(#444, 0.6);
    z-index: 5000;
    top: -100%;
    transition: top 0.3s ease-out;

    &.show {
        top: 0;
    }

    .mashroom-portal-modal-overlay-wrapper {
        position: relative;
        display: table;
        margin: 15% auto;
        min-width: 250px;
        max-width: 90%;
        box-shadow: 4px 4px 8px #444;
        transition: opacity 0.3s ease;
    }

    .mashroom-portal-modal-overlay-header {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        color: $COLOR_WHITE;
        background-color: $COLOR_PRIMARY;

        #mashroom-portal-modal-overlay-title {
            flex-grow: 2;
            padding: 8px 10px;
        }

        #mashroom-portal-modal-overlay-close {
            cursor: pointer;
            font-size: 16px;
            padding: 8px 10px;

            &:after {
                content: '\f00d';
                font-family: $FONT_ICON;
                font-weight: 900;
            }
        }
    }

    .mashroom-portal-modal-overlay-content {
        overflow: hidden;
        height: 100%;
        background-color: white;
        min-height: 60px;

        .mashroom-portal-app-wrapper {
            box-shadow: none;
        }
    }
}

#mashroom-portal-auth-expires-warning {
    position: fixed;
    top: -100px;
    left: calc(50% - 170px);
    width: 320px;
    transition: top 1s ease-out;
    z-index: 20000;

    &.show {
        top: 0;
    }

    .mashroom-portal-auth-expires-warning-message {
        position: relative;
        background-color: white;
        opacity: 0.8;
        padding: 10px 20px 10px 30px;
        border: 2px solid $COLOR_ERROR;
        border-top: none;
        font-size: 0.8em;
        font-weight: 500;

        &:before {
            position: absolute;
            left: 10px;
            content: '\f017';
            font-family: $FONT_ICON;
            font-weight: 900;
            padding-right: 5px;
            color: $COLOR_ERROR;
        }
    }
}

@media (min-width: 576px) {

    header {
        display: flex;
        align-items: center;

        .logo {
            display: block;
        }

        .site-name {
            flex-grow: 2;

            h1 {
                font-size: 1.6em;
                padding: 16px $GUTTER_WIDTH 8px $GUTTER_WIDTH;
            }
        }

        .env-and-versions {
            padding: 0 20px;
            margin: 0;
        }

        .user {
            display: block;
            padding-top: 10px;
            padding-left: 34px;

            &:before {
                font-size: 1.6em;
                top: 14px;
            }

            .user-name {
                text-align: right;
            }

            .logout {
                text-align: right;
                margin-top: -3px;
            }
        }

        .menu-open {
            display: none;
        }
    }

    main {
        display: flex;

        nav {
            margin-bottom: 0;
            display: block;
            margin-right: span math.div($GUTTER_WIDTH, 2);
            margin-top: 0;
        }
    }

    #mashroom-portal-auth-expires-warning {
        left: calc(50% - 240px);
        width: 480px;
    }
}

@media (min-width: 768px) {

    header {

        .site-name {


            h1 {
                font-size: 2em;
            }
        }

        .user {

        }
    }

}
